.login-form {
  max-width: 300px;
  margin:10% auto!important;
  display: flex;
  flex-direction: column;
  margin-top:30%;
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }
}
